#buscar-algo{
	float: right;
	background: white;
	color: black;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 220px;
	
}