#principal-header-text-login{
    padding-top: 15px;
    padding-left: 30px;
    color:white;
    font-family: sans-serif;
    text-align:center;
    text-shadow: 1px 1px 1px black;
}

label[for=UserUsername], label[for=UserPassword] {
	font-size: 110%;
	margin-bottom:3px;
    color:white;
    width: 100px;
    line-height: 40px;
    padding-right: 1px;
    padding-top: 10px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 320px;
    
    
}

input[type=email], input[type=password] {
      padding: 0 10px;
      width: 300px;
      height: 40px;
      color: black;
      text-shadow: 1px 1px 1px darkgrey;
      background:#d3d3d3;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
      margin-top: 20px; 

}

input::-webkit-input-placeholder {
color: grey !important;
}

#login-button{
    background: yellowgreen;
    border: none;
    font-family:sans-serif;
    text-shadow: 1px 1px 1px darkgrey;
    border-radius: 7px;
    font-weight: bold;
    color : white;
    margin-top: 25px;
    padding-right = 1px;
    width: 180px;
    height: 50px;
    font-size: 170%;
    }

#label-signup{
	font-size: 90%;
    color:white;
    line-height: 40px;
    font-weight: 100;
    text-align: right;
    font-family: sans-serif; 
    margin-bottom: 50px;
    padding-right: 1px;
    margin-top: 35px;
}

#button-signup{
    background: deepskyblue;
    border: none;
    font-family:sans-serif;
    border-radius: 7px;
    font-weight: bold;
    color : white;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-right: 15px;
    padding-right = 1px;
    width: 130px;
    height: 30px;
}

.message{
    color: orangered;
    margin-left: 200px;
    font-weight: bold;
    font-size: 200%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

