/**add.ctp**/

.product_add form fieldset legend{
    color: white;
}

.product_add form fieldset .form-group label{
    color: white;
}

#nav-add{
    margin-top: 20px;
}

input{
    border-radius: 7px;
}

textarea{
    border-radius: 7px;
}

/**admin_index.ctp**/

.product_index>h1, .product_index>p>a{
    color:white;
}


table tr th>a, th, tr td a{
    color: white;
}

/**Fin admin_index.ctp**/
#edit_body>h2{
    color: white;
}



/**admin_view.ctp**/


#admin_view >h2, .table tr td{
    color: white;
}

#admin_view_btn{
    position: relative;
    right: 230px;
    padding: 15px 0 10px 0;
}

/**Fin admin_view.ctp**/




label
{
    font-family: sans-serif;
    color: lightgrey;
}

.
{
    width: 50%;
}


.message
{
    color: lightgrey;
    font-family: sans-serif;
    font-size: 35px;
    margin: 10px;
}

h1
{
    padding-top: 2%;
    padding-bottom: 2%;
}

.table
{
}

input[type="text"], input[type="number"], select
{
	width: 250px;
}

textarea
{
	width: 250px;
}