#principal-header-text-signup{
    padding-top: 15px;
    padding-left: 30px;
    color:white;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 30px;
    margin-left: 170px;
}

label {
  font-size: 110%;
  margin-bottom:3px;
    color:white;
    width: 200px;
    line-height: 40px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 10px;  
}

input {
      padding: 0 10px;
      width: 300px;
      height: 40px;
      color: black;
      background:#d3d3d3;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);

}

input::-webkit-input-placeholder {
color: grey !important;
}

select {
      padding: 0 10px;
      height: 40px;
      color: black;
      text-shadow: 1px 1px 1px darkgrey;
      background:#d3d3d3;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);

}

#UserBirthdayDay, #UserBirthdayMonth,  #UserBirthdayYear {
      padding: 0 10px;
      height: 40px;
      color: black;
      text-shadow: 1px 1px 1px darkgrey;
      background:#d3d3d3;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
      margin-top: 35px;
      margin-left: 10px
}


#button-signup{
    background: deepskyblue;
    border: none;
    font-family:sans-serif;
    border-radius: 7px;
    font-weight : bold;
    color : white;
    margin-bottom: 20px;
    margin-left: 370px;
    padding-right = 1px;
    width: 120px;
    height: 50px;
    
}

.error-message{
    color: orange;
    margin-left: 200px;
}

.message{
    color: orangered;
    margin-left: 200px;
    font-weight: bold;
    font-size: 200%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
